<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>

        <section
            name="XemantiX.Crawler.Config"
            type="XemantiX.Instanciator.Crawler.Console.Config, XemantiX.Instanciator.Crawler.Console" />

    </configSections>

    <XemantiX.Crawler.Config
        crawler="XemantiX.Crawler.TwitterAccount"
        instance="XemantiX.Crawler.TwitterAccount.TwitterAccountCrawler"
        sqlServerConnection="Data Source=10.24.145.93\SQL2008R2;Initial Catalog=Tyche;Integrated Security=SSPI;User ID=smpsadmin;Password=!smps1011;" />

  <appSettings>
        <!-- Fill in your consumer key and secret here to make the OAuth sample work. -->
        <!-- Twitter sign-up: https://dev.twitter.com/ -->
        <add key="twitterConsumerKey" value="Wdgc9WuxVoSVkkCRTqE71g" />
        <add key="twitterConsumerSecret" value="wnSFdRxMDyTZjqGAmFTwPrAfGrsXhodmaqvDMnYiQU" />
        <add key="twitterOAuthToken" value="376303850-aqtCGosnGAiTXu6xVQ8YauYMY4s1eCfWLzZv5aUg" />
        <add key="twitterAccessToken" value="lUvnHtIoO7ERBBbuGupSuQsKbb6Dn9KGrS0T7pj1xXk" />
        <add key="twitterPIN" value="7127764"/>
  </appSettings>
  
</configuration>