<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>

        <section name="Logging.Config" 
                 type="Logging.Config, Logging" />

        <section name="SimpleLogFormatter.Config" 
                 type="Logging.Modifiers.SimpleLogFormatter.Config, Logging.Modifiers.SimpleLogFormatter" />

        <section name="PlainFile.Config" 
                 type="Logging.Persisters.PlainFile.Config, Logging.Persisters.PlainFile"/>

    </configSections>
    
    <Logging.Config verbosity="eDebugs" 
                    persister="Logging.Modifiers.SimpleLogFormatter" 
                    emergencyLogs="EmergencyLogs.logs" />

    <SimpleLogFormatter.Config persister="Logging.Persisters.PlainFile" />

    <PlainFile.Config logFile="log.log"/>

</configuration>