<div id="LoginScreen" style="position:absolute; left:0; top:0; width:100%; height:100%;">

        <div class='box_container2'>
            <div class='images_holder2'>
                <div class='image_div2 left2'><img alt="" src='View/Images/LoginScreen.Texture3.jpg'/></div>
                <div class='image_div2 right2'><img alt="" src='View/Images/LoginScreen.Texture3.jpg'/></div>
                <div class='clear'></div>
            </div>
        </div>

        <div id="form">
            <div>
                <span id="sendlink" class="boxtext">User:</span>
                <input type="text" id="user" name="user" />
                <input id="login" type="submit" value="Login" />
            </div>
        </div>
</div>
