<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="XemantiX.Persistence.Properties.Settings.TycheConnectionString"
            connectionString="Data Source=10.24.145.93\SQL2008R2;Initial Catalog=Tyche;Persist Security Info=True;User ID=smpsadmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>